AccountingBook/AccountingBookData/Service References/AccountingBookServiceReference/AccountingBookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountingBookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1231/AccountingBookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1231/AccountingBookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" />
      <xsd:import schemaLocation="http://localhost:1231/AccountingBookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1231/AccountingBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountingBookService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetCategories_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjects" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjects_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectsByCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsByCategoryId" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectsByCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectsByCategoryIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectsByCategoryId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectInformationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectInformationById" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectInformationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectInformationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectInformationById_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetUserByName_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_IsValidUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetRolesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesByUserId" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetRolesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetRolesByUserId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetCategoriesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesByName" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetCategoriesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetCategoriesByName_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectByNameCategoryIdAndStateId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectByNameCategoryIdAndStateId" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectByNameCategoryIdAndStateId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectByNameCategoryIdAndStateIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetSubjectByNameCategoryIdAndStateId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingBookService_GetStates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/AccountingBookService.Contracts.Models.DtoException" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IAccountingBookService">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetCategories" message="tns:IAccountingBookService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetCategoriesResponse" message="tns:IAccountingBookService_GetCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetCategoriesServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetCategories_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjects" message="tns:IAccountingBookService_GetSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectsResponse" message="tns:IAccountingBookService_GetSubjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectsServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetSubjects_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsByCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectsByCategoryId" message="tns:IAccountingBookService_GetSubjectsByCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectsByCategoryIdResponse" message="tns:IAccountingBookService_GetSubjectsByCategoryId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectsByCategoryIdServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetSubjectsByCategoryId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectInformationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectInformationById" message="tns:IAccountingBookService_GetSubjectInformationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectInformationByIdResponse" message="tns:IAccountingBookService_GetSubjectInformationById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectInformationByIdServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetSubjectInformationById_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetUserByName" message="tns:IAccountingBookService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetUserByNameResponse" message="tns:IAccountingBookService_GetUserByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetUserByNameServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetUserByName_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/IsValidUser" message="tns:IAccountingBookService_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/IsValidUserResponse" message="tns:IAccountingBookService_IsValidUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/IsValidUserServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_IsValidUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetRolesByUserId" message="tns:IAccountingBookService_GetRolesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetRolesByUserIdResponse" message="tns:IAccountingBookService_GetRolesByUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetRolesByUserIdServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetRolesByUserId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetCategoriesByName" message="tns:IAccountingBookService_GetCategoriesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetCategoriesByNameResponse" message="tns:IAccountingBookService_GetCategoriesByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetCategoriesByNameServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetCategoriesByName_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectByNameCategoryIdAndStateId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectByNameCategoryIdAndStateId" message="tns:IAccountingBookService_GetSubjectByNameCategoryIdAndStateId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectByNameCategoryIdAndStateIdResponse" message="tns:IAccountingBookService_GetSubjectByNameCategoryIdAndStateId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetSubjectByNameCategoryIdAndStateIdServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetSubjectByNameCategoryIdAndStateId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingBookService/GetStates" message="tns:IAccountingBookService_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingBookService/GetStatesResponse" message="tns:IAccountingBookService_GetStates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountingBookService/GetStatesServiceFaultFault" name="ServiceFaultFault" message="tns:IAccountingBookService_GetStates_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountingBookService" type="tns:IAccountingBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubjects">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectsByCategoryId">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetSubjectsByCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectInformationById">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetSubjectInformationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/IsValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRolesByUserId">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetRolesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesByName">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetCategoriesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectByNameCategoryIdAndStateId">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetSubjectByNameCategoryIdAndStateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap:operation soapAction="http://tempuri.org/IAccountingBookService/GetStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingBookService">
    <wsdl:port name="BasicHttpBinding_IAccountingBookService" binding="tns:BasicHttpBinding_IAccountingBookService">
      <soap:address location="http://localhost:1231/AccountingBookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>